body {
    display: flexbox;
    justify-content: center;
    flex-flow: column;
}

main {
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 8vw;
    text-align: center;
}

table, th, td {
    border: 1px solid;
}

th:hover {
    background-color: antiquewhite;
}

tr:hover {
    background-color: blanchedalmond;
}

th {
    font-weight: bolder;
    font-size: 1.5vw;
    text-align: center;
    padding: 8px;
    background-color: #d0d9df;
}

td {
    font-size: 1.2vw;
    text-align: center;    
}