body {
    display: flexbox;
    justify-content: center;
    flex-flow: column;
}

main {
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
}

h1 {
    font-size: 8vw;
    text-align: center;
}

form {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    width: 90%;
}

form > div {
    margin: auto;
    flex-wrap: wrap;
    margin-top: 15px;

}

fieldset > legend {
    display: flex;
    justify-content: center;
    margin: auto;
    font-size: larger;
    font-weight: bold;
    padding-bottom: 15px;
    padding-top: 10px;
}

fieldset > label {
    margin-left: 15px;
    margin-right: 10px;
}

fieldset {
    display: flex;
    font-size: large;
    font-weight: bold;
}

table, th, td {
    border: 1px solid;
}

th:hover {
    background-color: antiquewhite;
}

tr:hover {
    background-color: blanchedalmond;
}

th {
    font-weight: bolder;
    font-size: 1.5vw;
    text-align: center;
    padding: 8px;
    background-color: #d0d9df;
}

td {
    font-size: 1.2vw;
    text-align: center;    
}

footer {
    padding-top: 20px;
    text-align: center;
}